* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

/*---Navbar---*/

.navbar {
  display: flex;
  height: 75px;
  background-image: linear-gradient(
    to right,
    white 0vw,
    white 120px,
    black 60vw
  );
  width: 100%;
  overflow-y: hidden;
}

.navbar a {
  margin-right: auto;
}

.navbar ul {
  display: flex;
  list-style: none;
  height: 100%;
  align-items: center;
}

a {
  transition: background-color 0.2s ease;
}

.navbar .nav-links a:hover,
footer a:hover,
.menu-links a:hover,
.appetizers a:hover,
.food a:hover,
.desserts a:hover,
.drinks a:hover {
  color: black;
  background-color: lightgray;
}

.nav-links a {
  font-size: 20px;
  text-decoration: none;
  padding: 100px 20px 100px 20px;
}

/*This is specifically to allow the logo's <a> tag to be read by screen readers but not visible on the site*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*---Footer---*/

footer {
  display: flex;
  align-items: center;
  background-color: #555;
  height: 50px;
  background-image: linear-gradient(
    to right,
    white 0vw,
    white 120px,
    black 60vw
  );
  width: 100%;
  overflow-y: hidden;
}

footer a:first-child {
  margin-right: auto;
  margin-left: 30px;
  color: #000;
}

footer p {
  margin-right: 30px;
}

/*---Pages and Content---*/

main {
  height: calc(100vh - 125px);
  background-color: lightgray; /*remove later*/
}

.home {
  background-image: url(/Images/home.avif);
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.contact {
  background-image: url(/Images/contact.avif);
  background-size: cover;
  background-position: top;
  position: relative;
}

.menu,
.reservations {
  background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.menu {
  background-image: url(/Images/menu.avif);
}

.reservations {
  background-image: url(/Images/reservations.avif);
  text-align: center;
  position: relative;
}

.hours {
  background-image: url(/Images/hours.avif);
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.menu-section {
  background-color: rgba(0, 0, 0, 0.7);
}

.home-section,
.contact-section {
  display: flex;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home-section {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: auto;
}

.content-frame {
  min-height: 1000px;
  background-color: grey;
}

.contact-section {
  background-color: rgba(0, 0, 0, 0.7);
  overflow-y: auto;
}

.reservations-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.hours-section {
  background-color: rgba(0, 0, 0, 0.7);
  height:100%;
  width: 100%;
  overflow-y: auto;
}

.home-section h1 {
  font-size: 100px;
  margin: 7.5px 0;
}

.home-section h2 {
  font-size: 30px;
  margin: 7.5px 0;
}

.home-section p {
  font-size: 20px;
  margin: 7.5px 0;
}

.home-img {
  border-radius: 10px;
  margin: 7.5px 0;
}

#booking-button {
  padding: 30px;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  font-size: 20px;
  margin: 7.5px 0;
}

#booking-button:hover {
  background-color: darkgray;
}

.contact-section {
  justify-content: center;
  flex-wrap: wrap;
}

.contact-header,
.menu-header,
.reservations-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
  width: 100%;
  height: 100px;
  text-align: center;
}

.contact-header h1,
.menu-header h1,
.reservations-header h1 {
  font-size: 40px;
}

.contact form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  margin: 10px 0;
  overflow-y: auto;
}

.contact form h2 {
  text-align: center;
  font-size: 16px;
  margin: 10px 0;
}

.contact form label {
  font-size: 12px;
}

.contact form input {
  height: 30px;
  color: #000;
  font-size: 14px;
  margin: 5px 0;
}

.contact form textarea {
  height: 100px;
  color: #000;
  font-size: 14px;
  margin: 5px 0;
}

.contact form button {
  font-size: 16px;
  color: #000;
  height: 30px;
  margin: 10px 0;
}

.hours-header h1 {
  font-size: 50px;
  margin-left: 20px;
}

.alerts {
  display: flex;
  align-items: center;
}

.alerts a {
  font-size: 30px;
  margin: 0 20px;
  text-decoration: none;
}

.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.counter {
  font-size: 16px;
}

.contact-header p,
.menu-header p,
.reservations-header p {
  font-size: 14px;
}

.contact-info {
  display: flex;
  background-color: purple;
  height: calc(100% - 125px);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 12.5px 0 12.5px 0;
}

.contact-info1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 100%;
}

.contact-info2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 100%;
}

.map {
  margin: 25px;
}

.contact-info1 p,
.contact-info2 p,
.contact-info1 p a,
.contact-info2 p a {
  text-align: center;
  font-size: 16px;
}

.contact-details {
  margin: 10px 25px 0 25px;
}

.menu {
  text-align: center;
}

.menu h2 {
  font-size: 30px;
  padding: 30px 0 30px 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.menu h3 {
  font-size: 26px;
  padding: 20px 0 20px 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.menu-links {
  background-color: rgba(0, 0, 0, 0.8);
  height: calc(100vh - 225px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-links a {
  padding: 10px 30px;
  border-radius: 10px;
  text-decoration: none;
}

.menu-links figcaption {
  font-size: 24px;
}

.menu-links a:hover figcaption {
  color: #000;
}

.appetizers p,
.food p,
.desserts p,
.drinks p {
  padding: 10px 0 10px 0;
}

.appetizers a,
.food a,
.desserts a,
.drinks a {
  display: block;
  padding: 20px;
  text-decoration: none;
  font-size: 16px;
}

.item {
  font-size: 25px;
}

.description {
  font-size: 20px;
}

.hours-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: #000;
}

.form {
  margin: 20px 0;
  width: 600px;
  background-color: rgba(211, 211, 211, 0.8);
  border-radius: 10px;
}

.hours-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hours-left {
  display: block;
}

.calendar, .shifts, .request-leave {
  border-radius: 10px;
  margin: 10px 5px;
}

.calendar {
  background-color: rgba(0, 0, 0, 0.5);
  width: 720px;
  height: 390px;
  display: flex;
  justify-content: center;
}

.calendar iframe {
  margin: 10px;
}

.shifts {
  background-color: rgba(0, 0, 0, 0.5);
  width: 350px;
  height: 170px;
}

.shifts-header {
  display: flex;
  justify-content: center;
}

.shifts h2 {
  margin-top: 20px;
  font-size: 24px;
}

.timetable {
  display: flex;
}

.timetable li {
  font-size: 16px;
  margin: 10px 0;
}

.days, .times {
  list-style: none;
}

.days {
  margin: 10px auto 10px 10px;
}

.times {
  margin: 10px
}

.request-leave {
  width: 350px;
  height: 210px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.leave-form {
  background-color: white;
}
